<div class="sidebar p-3 h-100">
  <a href="{% url 'dashboard:home' %}" class="d-block mb-2">Dashboard</a>
  <a href="{% url 'cases:list' %}" class="d-block mb-2">Casos</a>
  <a href="{% url 'students:list' %}" class="d-block mb-2">Estudiantes</a>
  <a href="{% url 'cases:category-list' %}" class="d-block mb-2">Categorías</a>
  <a href="{% url 'organization:areas' %}" class="d-block mb-2">Áreas</a>
  <a href="{% url 'organization:careers' %}" class="d-block mb-2">Carreras</a>
  <a href="{% url 'accounts:user-create' %}" class="d-block mb-2">Usuarios</a>
  <a href="{% url 'logout' %}" class="d-block mt-4">Cerrar sesión</a>
</div>
