<div class="sidebar p-3 h-100">
  <div class="sidebar-header">
  </div>

  <nav class="sidebar-nav">
    <a href="{% url 'dashboard:home' %}" class="sidebar-link">Panel de control</a>
    <a href="{% url 'cases:list' %}" class="sidebar-link">Casos</a>
    <a href="{% url 'cases:pending-area' %}" class="sidebar-link">Pendientes de mi área</a>
    <a href="{% url 'students:list' %}" class="sidebar-link">Estudiantes</a>
    <a href="{% url 'cases:category-list' %}" class="sidebar-link">Categorías</a>
    <a href="{% url 'organization:areas' %}" class="sidebar-link">Áreas</a>
    <a href="{% url 'organization:careers' %}" class="sidebar-link">Carreras</a>
    <a href="{% url 'accounts:user-create' %}" class="sidebar-link">Usuarios</a>
  </nav>

  <form method="post" action="{% url 'logout' %}" class="sidebar-logout">
    {% csrf_token %}
    <button type="submit" class="logout-btn">
      Cerrar sesión
    </button>
  </form>
</div>